In [28]:
import pandas as pd
from geojson import Point, Feature, FeatureCollection, dump

In [12]:
data2018 = pd.read_csv("2018.csv")

In [13]:
df = pd.read_csv("Geocodes_USA_with_Counties.csv")

In [14]:
county_geo= df.sort_values('latitude').drop_duplicates(subset=['latitude','longitude'], keep="first")

In [15]:
county = county_geo[['latitude','longitude', 'County','state']]

In [17]:
county

       latitude  longitude                              County state
11        17.97     -66.40    Santa Isabel County, Puerto Rico    PR
9         18.00     -66.01        Patillas County, Puerto Rico    PR
2         18.16     -66.72        Adjuntas County, Puerto Rico    PR
12        18.16     -66.23        Aibonito County, Puerto Rico    PR
4         18.18     -66.98         Maricao County, Puerto Rico    PR
...         ...        ...                                 ...   ...
41583     70.01    -148.88  North Slope Borough County, Alaska    AK
41595     70.12    -143.66  North Slope Borough County, Alaska    AK
41638     70.48    -157.39  North Slope Borough County, Alaska    AK
41630     70.63    -159.96  North Slope Borough County, Alaska    AK
41573     71.28    -156.78  North Slope Borough County, Alaska    AK

[31956 rows x 4 columns]

In [16]:
data2018

,Geographic Area Name,Number_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population,Mean income (dollars)_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population,Number_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_One race--_White,Mean income (dollars)_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_One race--_White,Number_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_One race--_Black or African American,Mean income (dollars)_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_One race--_Black or African American,Number_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_One race--_American Indian and Alaska Native,Mean income (dollars)_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_One race--_American Indian and Alaska Native,Number_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_One race--_Asian,...,Number_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_One race--_Native Hawaiian and Other Pacific Islander,Mean income (dollars)_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_One race--_Native Hawaiian and Other Pacific Islander,Number_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_One race--_Some other race,Mean income (dollars)_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_One race--_Some other race,Number_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_Two or more races,Mean income (dollars)_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_Two or more races,Number_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_Hispanic or Latino origin (of any race),Mean income (dollars)_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_Hispanic or Latino origin (of any race),"Number_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_White alone, not Hispanic or Latino","Mean income (dollars)_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_White alone, not Hispanic or Latino"
0,Geographic Area Name,per_capita_totalpop,mean_income_totalpop,per_capita_white,mean_income_white,per_capita_black,mean_income_black,per_capita_native,mean_income_native,per_capita_asian,...,per_capita_islander,mean_income_islander,per_capita_other,mean_income_other,per_capita_tworaces,mean_income_tworaces,per_capital_totallatino,mean_income_totallatino,per_capita_whitealone,mean_income_whitealone
1,"Shelby County, Alabama",215707,37386,172086,39216,27162,33492,372,6178,4767,...,27,N,7400,13372,3893,14842,12466,18087,167118,39662
2,"Talladega County, Alabama",79828,24571,50857,28382,27226,17900,433,13717,110,...,0,N,82,N,1120,N,1242,33556,49842,28424
3,"Tuscaloosa County, Alabama",208911,26818,135323,30699,67036,20207,529,13956,3471,...,0,N,330,N,2222,15482,8115,12838,127896,31807
4,"Pinal County, Arizona",447138,23958,359718,25602,19947,23551,22140,11767,7233,...,1487,12294,16060,20844,20553,12796,136046,16030,252935,29592
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
834,"Butte County, California",231256,28915,186452,30480,4019,22019,2274,37317,10017,...,360,N,12617,25649,15517,18429,38528,21991,165211,31791
835,"El Dorado County, California",190678,43133,169150,43934,1221,25670,924,N,8834,...,525,N,2255,35412,7769,32932,24640,26991,147978,46315
836,"Imperial County, California",181827,16920,117180,18015,4201,12783,1035,20756,2801,...,204,N,47971,12181,8435,18123,153757,14258,18709,33133
837,"Kern County, California",896764,22778,673595,23863,50289,17535,8106,15845,44299,...,1656,21077,84783,18224,34036,13054,483846,15784,299561,34401
838,"Marin County, California",259666,70928,206330,77937,6312,36983,275,N,16431,...,466,14144,16866,28551,12986,45472,41846,34683,184668,82276

In [7]:
# county_list =['Delete_row','county']
# for i in range(2, len(data2018['NAME'])):
#     countyName =data2018['NAME'][i].split(', ')[0]
#     county_list.append(countyName)

In [8]:
# data2018['County'] = county_list

In [18]:
data2018

,Geographic Area Name,Number_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population,Mean income (dollars)_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population,Number_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_One race--_White,Mean income (dollars)_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_One race--_White,Number_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_One race--_Black or African American,Mean income (dollars)_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_One race--_Black or African American,Number_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_One race--_American Indian and Alaska Native,Mean income (dollars)_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_One race--_American Indian and Alaska Native,Number_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_One race--_Asian,...,Number_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_One race--_Native Hawaiian and Other Pacific Islander,Mean income (dollars)_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_One race--_Native Hawaiian and Other Pacific Islander,Number_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_One race--_Some other race,Mean income (dollars)_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_One race--_Some other race,Number_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_Two or more races,Mean income (dollars)_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_Two or more races,Number_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_Hispanic or Latino origin (of any race),Mean income (dollars)_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_Hispanic or Latino origin (of any race),"Number_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_White alone, not Hispanic or Latino","Mean income (dollars)_PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN_Total population_White alone, not Hispanic or Latino"
0,Geographic Area Name,per_capita_totalpop,mean_income_totalpop,per_capita_white,mean_income_white,per_capita_black,mean_income_black,per_capita_native,mean_income_native,per_capita_asian,...,per_capita_islander,mean_income_islander,per_capita_other,mean_income_other,per_capita_tworaces,mean_income_tworaces,per_capital_totallatino,mean_income_totallatino,per_capita_whitealone,mean_income_whitealone
1,"Shelby County, Alabama",215707,37386,172086,39216,27162,33492,372,6178,4767,...,27,N,7400,13372,3893,14842,12466,18087,167118,39662
2,"Talladega County, Alabama",79828,24571,50857,28382,27226,17900,433,13717,110,...,0,N,82,N,1120,N,1242,33556,49842,28424
3,"Tuscaloosa County, Alabama",208911,26818,135323,30699,67036,20207,529,13956,3471,...,0,N,330,N,2222,15482,8115,12838,127896,31807
4,"Pinal County, Arizona",447138,23958,359718,25602,19947,23551,22140,11767,7233,...,1487,12294,16060,20844,20553,12796,136046,16030,252935,29592
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
834,"Butte County, California",231256,28915,186452,30480,4019,22019,2274,37317,10017,...,360,N,12617,25649,15517,18429,38528,21991,165211,31791
835,"El Dorado County, California",190678,43133,169150,43934,1221,25670,924,N,8834,...,525,N,2255,35412,7769,32932,24640,26991,147978,46315
836,"Imperial County, California",181827,16920,117180,18015,4201,12783,1035,20756,2801,...,204,N,47971,12181,8435,18123,153757,14258,18709,33133
837,"Kern County, California",896764,22778,673595,23863,50289,17535,8106,15845,44299,...,1656,21077,84783,18224,34036,13054,483846,15784,299561,34401
838,"Marin County, California",259666,70928,206330,77937,6312,36983,275,N,16431,...,466,14144,16866,28551,12986,45472,41846,34683,184668,82276

In [19]:
new_df = data2018.merge(county, left_on = 'Geographic Area Name', right_on = 'County', how = 'left')

In [11]:
new_df.to_csv("data_2018_cleaned.csv")

In [22]:
newnew_df =new_df.drop_duplicates(subset="Geographic Area Name", keep='first')

In [24]:
len(data2018)

839

In [25]:
len(newnew_df)

839

In [26]:
newnew_df.to_csv("data_2018_cleaned.csv")

In [33]:
temp_df = pd.read_csv("data_2018_cleaned.csv")
temp_df

,location,perCapitaTotal,meanIncomeTotal,perCapitaWhite,meanIncomeWhite,perCapitaBlack,meanIncomeBlack,perCapitaNative,meanIncomeNative,perCapitaAsian,...,perCapitaOther,meanIncomeOther,perCapitaTwoRaces,meanIncomeTwoRaces,perCapitaTotalLatino,meanIncomeTotalLatino,perCapitaWhitealone,meanIncomeWhitealone,latitude,longitude
0,"Shelby County, Alabama",215707,37386,172086,39216,27162,33492,372,6178,4767,...,7400,13372,3893,14842,12466,18087,167118,39662,33.07,-86.56
1,"Talladega County, Alabama",79828,24571,50857,28382,27226,17900,433,13717,110,...,82,N,1120,N,1242,33556,49842,28424,33.17,-86.26
2,"Tuscaloosa County, Alabama",208911,26818,135323,30699,67036,20207,529,13956,3471,...,330,N,2222,15482,8115,12838,127896,31807,33.05,-87.76
3,"Pinal County, Arizona",447138,23958,359718,25602,19947,23551,22140,11767,7233,...,16060,20844,20553,12796,136046,16030,252935,29592,32.57,-111.36
4,"Mendocino County, California",87606,26939,73040,28847,294,N,3434,22209,2190,...,4829,14248,3666,13035,22445,15724,56655,32483,38.82,-123.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,"Butte County, California",231256,28915,186452,30480,4019,22019,2274,37317,10017,...,12617,25649,15517,18429,38528,21991,165211,31791,39.35,-121.76
776,"El Dorado County, California",190678,43133,169150,43934,1221,25670,924,N,8834,...,2255,35412,7769,32932,24640,26991,147978,46315,38.45,-120.52
777,"Imperial County, California",181827,16920,117180,18015,4201,12783,1035,20756,2801,...,47971,12181,8435,18123,153757,14258,18709,33133,32.67,-115.50
778,"Kern County, California",896764,22778,673595,23863,50289,17535,8106,15845,44299,...,84783,18224,34036,13054,483846,15784,299561,34401,34.80,-119.01
779,"Marin County, California",259666,70928,206330,77937,6312,36983,275,N,16431,...,16866,28551,12986,45472,41846,34683,184668,82276,37.84,-122.53

In [59]:
with open('myfile.geojson','w') as f:
    for i in range(0,len(temp_df)):
        try:
            perCapitaTotal=int(temp_df.perCapitaTotal[i])
        except:
            perCapitaTotal="NaN"
            
        try:
            meanIncomeTotal=int(temp_df.meanIncomeTotal[i])
        except: 
            meanIncomeTotal='NaN'
        try:
            perCapitaWhite=int(temp_df.perCapitaWhite[i])
        except: 
            perCapitaWhite='NaN'
        try:
            meanIncomeWhite=int(temp_df.meanIncomeWhite[i])
        except: 
            meanIncomeWhite='NaN'
        try:
            perCapitaBlack=int(temp_df.perCapitaBlack[i])
        except: 
            perCapitaBlack='NaN'
        try:
            meanIncomeBlack=int(temp_df.meanIncomeBlack[i])
        except: 
            meanIncomeBlack='NaN'
        try:
            perCapitaNative=int(temp_df.perCapitaNative[i])
        except: 
            perCapitaNative='NaN'
        try:
            meanIncomeNative=int(temp_df.meanIncomeNative[i])
        except: 
            meanIncomeNative='NaN'
        try:
            perCapitaAsian=int(temp_df.perCapitaAsian[i])
        except: 
            perCapitaAsian='NaN'
        try:
            meanIncomeAsian=int(temp_df.meanIncomeAsian[i])
        except: 
            meanIncomeAsian='NaN'
        try:
            perCapitaIslander=int(temp_df.perCapitaIslander[i])
        except: 
            perCapitaIslander='NaN'
        try:
            meanIncomeIslander=int(temp_df.meanIncomeIslander[i])
        except: 
            meanIncomeIslander='NaN'
        try:
            perCapitaOther=int(temp_df.perCapitaOther[i])
        except: 
            perCapitaOther='NaN'
        try:
            meanIncomeOther=int(temp_df.meanIncomeOther[i])
        except: 
            meanIncomeOther='NaN'
        try:
            perCapitaTwoRaces=int(temp_df.perCapitaTwoRaces[i])
        except: 
            perCapitaTwoRaces='NaN'
        try:
            meanIncomeTwoRaces=int(temp_df.meanIncomeTwoRaces[i])
        except: 
            meanIncomeTwoRaces='NaN'
        try:
            perCapitaTotalLatino=int(temp_df.perCapitaTotalLatino[i])
        except: 
            perCapitaTotalLatino='NaN'
        try:
            meanIncomeTotalLatino=int(temp_df.meanIncomeTotalLatino[i])
        except: 
            meanIncomeTotalLatino='NaN'
        try:
            perCapitaWhitealone=int(temp_df.perCapitaWhitealone[i])
        except: 
            perCapitaWhitealone='NaN'
        try:
            meanIncomeWhitealone=int(temp_df.meanIncomeWhitealone[i])
        except: 
            meanIncomeWhitealone='NaN'

        
        point = Point((temp_df.latitude[i],temp_df.longitude[i]))
        features = []
        features.append(Feature(geometry=point, properties = {"county":temp_df.location[i].split(", ")[0],
                                                              "state":temp_df.location[i].split(", ")[1],
                                                              "perCapitaTotal":perCapitaTotal,
        
                                                              "meanIncomeTotal":meanIncomeTotal,
                                                              "perCapitaWhite":perCapitaWhite,
                                                              "meanIncomeWhite":meanIncomeWhite,
                                                              "perCapitaBlack":perCapitaBlack,
                                                              "meanIncomeBlack":meanIncomeBlack,
                                                              "perCapitaNative":perCapitaNative,
                                                              "meanIncomeNative":meanIncomeNative,
                                                              "perCapitaAsian":perCapitaAsian,
                                                              "meanIncomeAsian":meanIncomeAsian,
                                                              "perCapitaIslander":perCapitaIslander,
                                                              "meanIncomeIslander":meanIncomeIslander,
                                                              "perCapitaOther":perCapitaOther,
                                                              "meanIncomeOther":meanIncomeOther,
                                                              "perCapitaTwoRaces":perCapitaTwoRaces,
                                                              "meanIncomeTwoRaces":meanIncomeTwoRaces,
                                                              "perCapitaTotalLatino":perCapitaTotalLatino,
                                                              "meanIncomeTotalLatino":meanIncomeTotalLatino,
                                                              "perCapitaWhitealone":perCapitaWhitealone,
                                                              "meanIncomeWhitealone":meanIncomeWhitealone
                                                             }))
        print(i)
        feature_collection = FeatureCollection(features)

        dump(feature_collection, f)

SyntaxError: invalid syntax (<ipython-input-59-018ce9c03b36>, line 8)

In [49]:
try:
    int('N')
except:
    print('NaN')

NaN

In [39]:
i = 2
print(temp_df.location[i].split(", ")[0],
                                                             temp_df.location[i].split(", ")[1],
                                                             temp_df.perCapitaTotal[i],
                                                              temp_df.meanIncomeTotal[i],
                                                              temp_df.perCapitaWhite[i],
                                                              temp_df.meanIncomeWhite[i],
                                                              temp_df.perCapitaBlack[i],
                                                              temp_df.meanIncomeBlack[i],
                                                              temp_df.perCapitaNative[i],
                                                              temp_df.meanIncomeNative[i],
                                                              temp_df.perCapitaAsian[i],
                                                              temp_df.meanIncomeAsian[i],
                                                              temp_df.perCapitaIslander[i],
                                                              temp_df.meanIncomeIslander[i],
                                                              temp_df.perCapitaOther[i],
                                                              temp_df.meanIncomeOther[i],
                                                              temp_df.perCapitaTwoRaces[i],
                                                              temp_df.meanIncomeTwoRaces[i],
                                                              temp_df.perCapitaTotalLatino[i],
                                                              temp_df.meanIncomeTotalLatino[i],
                                                              temp_df.perCapitaWhitealone[i],
                                                              temp_df.meanIncomeWhitealone[i])

Tuscaloosa County Alabama 208911 26818 135323 30699 67036 20207 529 13956 3471 14454 0 N 330 N 2222 15482 8115 12838 127896 31807